## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/24 02:02:40 UTC

[Commit](https://github.com/zuyih/arduino-esp32/commit/96b3d0ef8de2b6a90d36fd84f06d4acbfea091dd) / [Build and QEMU run](https://github.com/zuyih/arduino-esp32/actions/runs/35944754860) / [Hardware and Wokwi run](https://github.com/zuyih/arduino-esp32/actions/runs/35945433578) / [Results processing](https://github.com/zuyih/arduino-esp32/actions/runs/35945453737)

[Test results](https://github.com/zuyih/arduino-esp32/runs/107462548773)
