## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/05 02:49:45 UTC

[Commit](https://github.com/zuyih/arduino-esp32/commit/96b3d0ef8de2b6a90d36fd84f06d4acbfea091dd) / [Build and QEMU run](https://github.com/zuyih/arduino-esp32/actions/runs/37256182083) / [Hardware and Wokwi run](https://github.com/zuyih/arduino-esp32/actions/runs/37256795305) / [Results processing](https://github.com/zuyih/arduino-esp32/actions/runs/37256807280)

[Test results](https://github.com/zuyih/arduino-esp32/runs/111595864959)
