## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/07 03:07:58 UTC

[Commit](https://github.com/zuyih/arduino-esp32/commit/96b3d0ef8de2b6a90d36fd84f06d4acbfea091dd) / [Build and QEMU run](https://github.com/zuyih/arduino-esp32/actions/runs/37564384604) / [Hardware and Wokwi run](https://github.com/zuyih/arduino-esp32/actions/runs/37565140345) / [Results processing](https://github.com/zuyih/arduino-esp32/actions/runs/37565155390)

[Test results](https://github.com/zuyih/arduino-esp32/runs/112611539090)
