## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/25 02:18:12 UTC

[Commit](https://github.com/zuyih/arduino-esp32/commit/96b3d0ef8de2b6a90d36fd84f06d4acbfea091dd) / [Build and QEMU run](https://github.com/zuyih/arduino-esp32/actions/runs/36085009663) / [Hardware and Wokwi run](https://github.com/zuyih/arduino-esp32/actions/runs/36085592713) / [Results processing](https://github.com/zuyih/arduino-esp32/actions/runs/36085609809)

[Test results](https://github.com/zuyih/arduino-esp32/runs/107916976246)
