## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/02 02:58:49 UTC

[Commit](https://github.com/zuyih/arduino-esp32/commit/96b3d0ef8de2b6a90d36fd84f06d4acbfea091dd) / [Build and QEMU run](https://github.com/zuyih/arduino-esp32/actions/runs/36957239771) / [Hardware and Wokwi run](https://github.com/zuyih/arduino-esp32/actions/runs/36957931135) / [Results processing](https://github.com/zuyih/arduino-esp32/actions/runs/36957949018)

[Test results](https://github.com/zuyih/arduino-esp32/runs/110685454415)
