## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/23 02:14:21 UTC

[Commit](https://github.com/zuyih/arduino-esp32/commit/96b3d0ef8de2b6a90d36fd84f06d4acbfea091dd) / [Build and QEMU run](https://github.com/zuyih/arduino-esp32/actions/runs/35808808243) / [Hardware and Wokwi run](https://github.com/zuyih/arduino-esp32/actions/runs/35809403909) / [Results processing](https://github.com/zuyih/arduino-esp32/actions/runs/35809419161)

[Test results](https://github.com/zuyih/arduino-esp32/runs/107017787418)
